@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

:root{
    --fondo: #202733;
    --fondocuadro: #313A48;
    --fondocuadrodos: #4F5D74;
    --verde: #53FFAA;
    --textos :#fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  
  body{
      background-color: var(--fondo);
      font-family: 'Roboto', sans-serif;
 }

 main{
    display: grid;
    place-items: center;
   margin-top: 15rem;
 }

 .container{
    position: relative;
    width: 520px;
    height: auto;
    padding: 35px 24px 56px;
    background-color: var(--fondocuadro);
    border-radius: 10px;
 }

 .container .circle{
    position:absolute;   
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: var(--verde);
    border-color: var(--verde);
    margin-top: 2.5rem;
    margin-left: -254px;
 }

 .container p{
    color: var(--textos);
    text-align: center;
    margin-bottom: 33px;
    font-weight: 700;
    letter-spacing: 0.7pt;
    font-size: 30px;
 }

 .container h1{
    color: var(--verde);
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
 }

.container .hr{
    width: 100%;
}